<%- include('partials/header') %>

<div class="login">
  <div class="logo--div">
    <h1 class="display-3">Thoughtz</h1>
  </div>


  <div class="row"  class="noncapital">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button><br>
            <div class="mailverified">
              <i ><%=errormessage%></i>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>

    </div> -->


  </div>
</div>
<%- include('partials/footer') %>
