<%-include('partials/header')%>


<div class="">
  <form class="register" action="/register" method="get">
    <button type="submit" class="btn btn-primary">register</button>
  </form>
</div>
<div class="verifyHeader">
  <h1>verify your account</h1>

</div>

<div class="container noncapital mt-5" >

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/resend" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" id="verifyemail" onkeyup="email_checker()" placeholder="Enter the Registered Email, if not register.">
            </div>
            <button type="submit" id="verifybutton" class="btn btn-dark">Send Otp</button>
            <div id='status' class='warning'><%=errormessage%></div>
            <form class="" action="/resend" method="post">
              <div class="">
                <button type="submit" id="resendtext" class="resendbutton" name="button"><%=resendtext%></button>
              </div>
            </form>

          </form>

        </div>
      </div>
    </div>


  </div>
</div>

<script>
  document.getElementById('verifybutton').setAttribute("disabled", "disabled");
  document.getElementById('resend').setAttribute("disabled", "disabled");
      if(document.getElementById("status").innerHTML!='')
      {
        document.getElementById("status").style.visibility = "visible";
      }
    function email_checker(){
      if(document.getElementById('verifyemail').value ===''){
        document.getElementById('verifybutton').setAttribute("disabled", "disabled");
        document.getElementById('resendtext').setAttribute("disabled", "disabled");
      }else {
        document.getElementById('verifybutton').removeAttribute("disabled");
        document.getElementById('resendtext').removeAttribute("disabled");
      }
    }
</script>













<%-include('partials/footer')%>
