<%- include('partials/header') %>

<div class="secrets--div container">
  <div class="centered">
    <h1 class="display-3">Thoughts!?</h1>
    <p class="secret-text">C'mon Share your thought and keep them thinking!</p>

    <form action="/submit" method="POST">

      <div class="submit--form form-group">
        <input  class="submit--input" type="text" autocomplete="off" class="form-control text-center" name="secret" placeholder="What's your thoughts?">
      </div>
      <button type="submit" class="btn btn-lg btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
